<h1>Informaci칩n del docente</h1>
<h2>{{nombre}} {{apellido}}</h2>
<p>La docente {{nombre}} tiene el numero de identificaci칩n {{cedula}}, tiene tambien {{edad}} a침os y dicta el {{materia}}. Su profesi칩n es {{profesion}}</p>