{{!-- Para las variables utilizamos doble llave {{variable}} --}}
<h1>{{saludo profesor}}</h1>
<p>Bienvenido al curso de: {{mayusculas nombre}}</p>
<h2>La información del curso es: </h2>
<ul>
    <li><strong>Docente: </strong>{{profesor}}</li>
    <li><strong>Correo: </strong>{{correo}}</li>
    <li><strong>Horario: </strong>{{horario}}</li>
    <li><strong>Institución: </strong>{{institucion}}</li>
    <li><strong>Fecha de finalización: </strong>{{formatoFecha fecha_finalizacion}}</li>
</ul>