{{!-- Para las variables utilizamos doble llave {{variable}} --}}
<h1>{{nombre}}</h1>
<p>Bienvenido al curso de: {{nombre}}</p>
<h2>La información del curso es: </h2>
<ul>
    <li><strong>Docente: </strong>{{profesor}}</li>
    <li><strong>Correo: </strong>{{correo}}</li>
    <li><strong>Horario: </strong>{{horario}}</li>
</ul>